<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:role) %>:</strong>
  <%= @user.role %>
</p>

<p>
  <strong><%= User.human_attribute_name(:institution) %>:</strong>
  <%= @user.institution %>
</p>

<% if @user.professor? %>
<p>
  <strong><%= User.human_attribute_name(:field_id) %>:</strong>
  <%= @user.field.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:title) %>:</strong>
  <%= @user.title %>
</p>
<% elsif @user.student? %>

<% end %>