<%= form_with(model: [@event, article], local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :event_id, value: @event.id %>
  <div class='row'>
    <div class="col">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class="col">
      <%= form.label :abstract %>
      <%= form.text_area :abstract, class: 'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= form.label :authors %>
    </div>
  </div>
  <div id="authors" class="form-group">
      <%= link_to_add_association '[Adicionar Author]', form, :authors %>
      <%= form.fields_for :authors do |author_f| %>
        <%= render 'author_fields', f: author_f %>
      <% end %>
      <%= form.label :phones, "<span class='glyphicon glyphicon-phone-alt' aria-hidden='true'></span>".html_safe%>
    </div>

  <div class='row'>
    <div class="col">
      <%= form.label :pdf %>
      <%= form.file_field :pdf %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
    <%= link_to 'Cancelar', event_path(@event), class: 'btn btn-danger' %>
  </div>
<% end %>
