<h1><%= Article.model_name.human(count: @articles.count) %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Article.human_attribute_name :title %></th>
      <th><%= Article.human_attribute_name :event_id %></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, event_article_path(article.event, article) %></td>
        <td><%= link_to article.event.initials, event_path(article.event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
