<p id="notice"><%= notice %></p>
<p>
  <strong><%= Event.model_name.human %>:</strong>
  <%=@event.name%>
</p>

<p>
  <strong><%= Article.human_attribute_name(:title) %>:</strong>
  <%= @article.title %>
</p>

<p>
  <strong><%=Article.human_attribute_name(:abstract)%>:</strong>
  <%=@article.abstract%>
</p>

<p>
  <strong><%=Article.human_attribute_name(:user_id)%>:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong><%=Article.human_attribute_name(:status)%>:</strong>
  <%=t @article.status, scope: [:activerecord, :enums, :article, :status] %>
</p>

<% if Rails.env == 'development' %>
<p>
  <strong><%=Article.human_attribute_name(:proofreader)%>:</strong>
  <%= @article.proofreader.name if @article.proofreader %>
</p>
<% end %>

<p>
  <strong><%=Author.model_name.human(count: @article.authors.count) %>:</strong>
  <ul>
  <% @article.authors.each do |author|%>
    <li><%= author.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong><%=Article.human_attribute_name(:pdf)%>:</strong>
  <%= link_to 'link', @article.pdf if @article.pdf.attached? %>
</p>

<hr>

<%= render 'apply' %>
<div class='row'>
  <div class='col'>
    <%= link_to 'Edit', edit_event_article_path(@event, @article), class: 'btn btn-primary' %>
    <%= link_to 'Back', event_path(@event), class: 'btn btn-danger' %>
  </div>
  <div class='col' align='right'>
    <% if current_user.present? %>
      <% if @article.proofreader.nil? && current_user.admin? && @event.closed? %>
      <%= link_to 'Atribuir Revisor', event_article_assign_path(@event, @article), class: 'btn btn-secondary' %>
      <% end %>
    <% end %>
  </div>
</div>