<h1><%= @article.title %></h1>

<p>
  <%=@article.abstract%>
</p>

<p>
  <strong><%= Event.model_name.human %>:</strong>
  <%= link_to @event.name, event_path(@event) %>
</p>

<p>
  <strong><%=Article.human_attribute_name(:user_id)%>:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong><%=Article.human_attribute_name(:status)%>:</strong>
  <%=t @article.status, scope: [:activerecord, :enums, :article, :status] %>
</p>

<p>
  <strong><%=Article.human_attribute_name(:proofreader)%>:</strong>
  <%= @article.proofreader.name if @article.proofreader %>
</p>

<table class='table table-hover table-striped'>
  <thead>
      <th><%=Author.model_name.human(count: @article.authors.count) %></th>
  </thead>
  <tbody>
  <% @article.authors.each do |author|%><tr>
    <td><%= author.name %></td>
  </tr><% end %>
  </tbody>
</table>

<p>
  <strong><%=Article.human_attribute_name(:pdf)%>:</strong>
  <%= link_to 'link', @article.pdf if @article.pdf.attached? %>
</p>

<hr>
<%= render 'assign' if is_role?('admin') && @article.awaiting? %>
<%= render 'apply' if user_signed_in? && @article.pending? && @article.proofreader?(current_user) %>
<div class='row'>
  <div class='col'>
    <%= link_to t('buttons.general.edit') , edit_event_article_path(@event, @article), class: 'btn btn-primary' %>
    <%= link_to 'Back', event_path(@event), class: 'btn btn-danger' %>
  </div>
</div>