<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='rowgroup'>
    <div class='row'>
      <div class="col-9">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>
      
      <div class="col-3">
        <%= form.label :initials %>
        <%= form.text_field :initials, class: 'form-control', required: true %>
      </div>
    </div>

    <div class='row'>
      <div class="col-6">
        <%= form.label :event_start %>
        <%= form.date_field :event_start, class: 'form-control', required: true %>
      </div>
      <div class="col-6">
        <%= form.label :event_finish %>
        <%= form.date_field :event_finish, class: 'form-control', required: true %>
      </div>
    </div>

    <div class='row'>
      <div class="col-6">
        <%= form.label :submission_start %>
        <%= form.date_field :submission_start, class: 'form-control', required: true %>
      </div>
      <div class="col-6">
        <%= form.label :submission_finish %>
        <%= form.date_field :submission_finish, class: 'form-control', required: true %>
      </div>
    </div>

    <div class='row'>
      <div class="col-12">
        <%= form.label :field_id %>
        <%= form.collection_select(:field_id, @fields, :id, :name, {prompt: true}, class: 'form-control select2') %>
      </div>
    </div>

    <div class='row'>
      <div class="col-12">
        <%= form.label :professor_ids %>
        <%= form.select :professor_ids, '', {prompt: true}, {multiple: true, class: 'form-control select2'} %>
      </div>
    </div>

    <div class='row'>
      <div class="col-12">
        <%= form.label :keyword_ids%>
        <%= form.collection_select(
          :keyword_ids, @keywords, :id, :word,
          {prompt: true}, {multiple: true, class: 'form-control select2'}
          ) %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class='col'>
        <%= link_to 'Voltar', events_path, class:'btn btn-secondary' %>
        <%= form.submit class:'btn btn-primary pull-right' %>
      </div>
    </div>
  </div>
<% end %>
