<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :initials %>
    <%= form.text_field :initials %>
  </div>

  <div class="field">
    <%= form.label :event_start %>
    <%= form.date_field :event_start %>
  </div>

  <div class="field">
    <%= form.label :event_finish %>
    <%= form.date_field :event_finish %>
  </div>

  <div class="field">
    <%= form.label :submission_start %>
    <%= form.date_field :submission_start %>
  </div>

  <div class="field">
    <%= form.label :submission_finish %>
    <%= form.date_field :submission_finish %>
  </div>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.collection_select(:field_id, @fields, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :professor_ids %>
    <%= form.select :professor_ids, [], {prompt: true}, {multiple: true} %>
  </div>

  <div class="field">
    <%= hidden_field_tag "event[keyword_ids][]", nil %>
    <%= form.label :keyword_id %>
    <% @keywords.each do |keyword| %>
    <%= check_box_tag "event[keyword_ids][]", keyword.id,
        @event.keyword_ids.include?(keyword.id), id: dom_id(keyword) %>
    <%= label_tag dom_id(keyword), keyword.word %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
