<p id="notice"><%= notice %></p>

<h1><%= Event.model_name.human %></h1>
<% form_tag events_path,  method: 'GET' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Evento</th>
      <th>Situação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event.id) %></td>
        <td><%= t event.status, scope: [:activerecord, :enums, :event, :status] %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path if current_user.present? && current_user.admin? %>
