<p id="notice"><%= notice %></p>

<h1><%= Event.model_name.human(count: @events.count) %></h1>
<%= render partial: 'search_form' %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Situação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event.id) %></td>
        <td><%= t event.status, scope: [:activerecord, :enums, :event, :status] %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div row>
  <%= link_to 'New Event', new_event_path, class:'btn btn-primary' if current_user.present? && current_user.admin? %>
</div>
