<h1><%= Event.model_name.human(count: @events.count) %></h1>
<%= render partial: 'search_form' %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Situação</th>
      <% if Rails.env == 'development' %>
      <th>Artigos</th>
      <th>Professores</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name}(#{event.initials})", event_path(event.id) %></td>
        <td><%= t event.status, scope: [:activerecord, :enums, :event, :status] %></td>
        <% if Rails.env == 'development' %>
        <td><%= event.articles.count %></td>
        <td><%= event.professors.count %></td>
        <% end %>
        <td>
          <%= link_to event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
            <i class='fas fa-trash'></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= paginate @events, theme: 'twitter-bootstrap-4' %>
</p>

<hr>

<div class='row'>
  <div class='col' align=right>
    <%= link_to 'Cadastrar Evento', new_event_path, class:'btn btn-primary' if current_user.present? && current_user.admin? %>
  </div>
</div>
