<p id="notice"><%= notice %></p>
<h2 align='center'><%=@event.initials%></h2>
<p>
  <%=@event.name%>
</p>

<p>
  <strong><%=t :event_period, scope: [:labels, :models, :event] %>:</strong>
  <%= t(:period, start: l(@event.event_start), finish: l(@event.event_finish), scope: %i[labels date])%>
</p>

<p>
  <strong><%=t :submission_period, scope: [:labels, :models, :event] %>:</strong>
  <%= t(:period, start: l(@event.submission_start), finish: l(@event.submission_finish), scope: %i[labels date])%>
</p>

<p>
  <strong><%=Field.model_name.human%>:</strong>
  <%=@event.field.name%>
</p>

<p>
  <strong><%=Professor.model_name.human(count: @event.professors.count)%>:</strong>
  <ul>
    <% @event.professors.each do |professor| %>
    <li><%=professor.name%><%= "(#{professor.email})" if user_signed_in? && current_user.admin?%></li>
    <% end %>
  </ul>
</p>

<p>
  <strong><%=Keyword.model_name.human(count: @event.keywords.count)%>:</strong>
  <ul>
    <% @event.keywords.each do |keyword| %>
    <li><%=keyword.word%></li>
    <% end %>
  </ul>
</p>

<p>
  <strong><%=Article.model_name.human(count: @articles.count)%>:</strong>
  <ul>
    <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, event_article_path(@event, article) %>
      <% if user_signed_in? && current_user.admin? && (!article.passed?) %>
        (<%= link_to 'Pendente', event_article_assign_path(@event, article) %>)
      <% end %>
    </li>
    <% end %>
  </ul>
</p>

<div class='row'>
  <div class='col'>
    <%= link_to 'Voltar', events_path, class: 'btn btn-secondary' %>
    <% if user_signed_in? %>
      <% if @event.status == :opened %>
        <%= link_to 'Submeter Novo artigo', new_event_article_path(@event), class:'btn btn-primary' %>
      <% elsif @event.status == :closed && current_user.admin? %>
    <%= link_to 'Aplicar Revisores', '#', class: 'btn btn-primary' %>
  <% end %>
<% end %>
    <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary pull-right' %>
  </div>
</div>
