<h1 class='text-center'><%=@event.name%>(<%=@event.initials%>)</h1>

<table class='table table-striped table-hover'>
  <tbody>
    <tr>
      <th><%=t :event_period, scope: [:labels, :models, :event] %></th>
      <td><%= t(:period, start: l(@event.event_start), finish: l(@event.event_finish), scope: %i[labels date])%></td>
    </tr>
    <tr>
      <th><%=t :submission_period, scope: [:labels, :models, :event] %></th>
      <td><%= t(:period, start: l(@event.submission_start), finish: l(@event.submission_finish), scope: %i[labels date])%></td>
    </tr>
    <tr>
      <th><%=Field.model_name.human%></th>
      <td><%=@event.field.name%></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
  </tbody>
</table>
<table class='table table-striped table-hover'>
  <thead>
    <th><%=Professor.model_name.human(count: @event.professors.count)%></th>
  </thead>
  <tbody>
      <% @event.professors.each do |professor| %>
      <tr><td><%=professor.name%><%= "(#{professor.email})" if user_signed_in? && current_user.admin?%></td></tr>
      <% end %>
  </tbody>
</table>
<table class='table table-striped table-hover'>
  <thead>
    <th><%=Keyword.model_name.human(count: @event.keywords.count)%></th>
  </thead>
  <tbody>
      <% @event.keywords.each do |keyword| %>
      <tr><td><%=keyword.word%></td></tr>
      <% end %>
  </tbody>
</table>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th colspan=2><%=Article.model_name.human(count: @articles.count)%></th>
    </tr>
    <tr>
      <th>Título</th>
      <% if is_role? 'admin' %>
      <th> Status</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, event_article_path(@event, article) %></td>
      <td><%= I18n.t article.status, scope: 'activerecord.enums.article.status' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class='row'>
  <div class='col'>
    <%= link_to 'Voltar', events_path, class: 'btn btn-secondary' %>
    <% if user_signed_in? %>
      <% if @event.status == :opened %>
        <%= link_to 'Submeter Novo artigo', new_event_article_path(@event), class:'btn btn-primary' %>
      <% elsif @event.status == :closed && current_user.admin? %>
  <% end %>
<% end %>
    <%= link_to t('buttons.general.edit'), edit_event_path(@event), class: 'btn btn-primary pull-right' %>
  </div>
</div>
