<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <%= render partial: 'layouts/navbar' %>
    <!-- Page Content -->
    <div class='container'>
      <%= render partial: 'layouts/alert' %>
      <div class='row'>
        <!-- Menu Lateral -->
        <%= render partial: 'layouts/menu' %>
    
          <!-- Componente principal -->
          <div class="col-lg-9 main-container">
            <%= yield %>
          </div>
          <!-- /.col-lg-9 -->
      </div>
    </div>
    <!-- /.container -->
  </body>
</html>
